<div class="margin" style="margin-top:0" fxLayout="row" fxLayout.xs="column" fxLayout.xs="column">

  <div class="margin" fxFlex.xs="grow" fxFlex.sm="grow" fxFlex.md="33%" fxFlex.lg="20%" fxFlex.xl="16%">
    <md-card class="fixed poster margin">
      <!--inserts own profile picture code-by-color #1A1862-->
      <img class="profile" width="100%" align="center" src="/assets/img/profile_pic.jpg">
      <!--adds profile description code-by-color #0F0842-->
      <p><strong>Shiba Inu</strong></p>
      <md-divider></md-divider>
      <p><i>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </i></p>
    </md-card>
  </div>

  <div class="margin" fxFlex="grow" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row">
    <md-card fxFlex="100%" class="margin">
      <md-card-header>
        <div md-card-avatar class="cv-header"></div>
        <md-card-title>Curriculum Vitae</md-card-title>
        <md-card-subtitle>Lebenslauf</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <md-list fxFlex fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayout.lg="row">
          <div fxFlex>
            <h3 md-subheader>Education</h3>
            <!--adds education code-by-color #140956-->
          </div>
          <md-divider style="margin-top: 1em"></md-divider>
          <div fxFlex>
            <h3 md-subheader>Work</h3>
            <!--adds jobs code-by-color #362F9F-->
          </div>
        </md-list>
      </md-card-content>
    </md-card>
    <!--adds skills code-by-color #1BA3FF-->
  </div>
</div>
