
.cv-header {
  background-image: url('../../assets/img/profile.svg');
  background-size: cover;
}

.star-header {
  background-image: url('../../assets/img/ic_star_border_black_48px.svg');
  background-size: cover;
}

.skill {
  margin-right: 1em;
  margin-left: 1em;
  white-space: nowrap;
  min-width: 250px;
  max-width: 600px;
  flex: 1;
}

.poster {
  text-align: center;
  align-content: center;
}

.profile {
  box-shadow: 0 0 12px 0 #888888;
  margin-bottom: 1em;
  max-width:200px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .fixed {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 78px;
  }
}


@media (max-width: 350px) {
  .skill {
    flex-direction: column !important;
    border-bottom: solid #cecece 1px;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
  }
}
