@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  padding-top: 70px;
  margin :0;
  background-color: rgb(250, 250, 250);
}

md-toolbar * .mat-tab-links .mat-ink-bar {
  height: 4px !important;
  background-color:rgba(250,250,250,1);
  opacity: .98;
  /*filter: hue-rotate(30deg) brightness(100%);*/
}

md-toolbar * nav.mat-tab-nav-bar, nav.mat-tab-nav-bar > div {
  height: 100% !important;
}

md-toolbar * .mat-tab-link {
  line-height: 64px !important;
  height: 64px !important;
}

md-toolbar * .mat-tab-label, .mat-tab-link {
  color: rgba(255,255,255,.99);
}

.margin {
  margin: 4px;
}

.text-wrap {
  white-space: normal !important;
}

.highlight {
  text-decoration: underline !important;
  font-style: italic !important;
}

em {
  font-style: normal !important;
  font-weight: bold !important;
}
